.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
  margin-right: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 2s linear;
  }
}

.app-title {
  font-size: calc(10px + 2vmin);
}

.app-description {
  
  min-width:20%;
  max-width:20%;
  text-align:center;
  margin:0 auto 20px auto;
}

.app-header {
  display: flex;
  flex-direction: column;
  
}


.app-link {
  color: #61dafb;
}

.app-body {
}

.row {
  display: flex;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
  margin-left: 50px;
}

@keyframes app-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}